@import "compass";
 
// class colors
.academy {
  .primary-color  { color: #C4843C; }
  .primary-bg     { background: #C4843C; }
  .dark-bg        { background: #a96c26; }
  .darker-text    { color: #A59785; }
  .button-bg      { 
    background: #FCF3E6;

    &:hover {
      color: #fff;
      background: #C4843C;
    }
  }

  .mobile-engineering table { 
    background: #B2DFF5;

    td {
      color: #57AEDF;
    }

    tr.active {
      td {
        color: #B2DFF5;
        background: #2C94CE;

        .apply-button {
          color: #2C94CE;
        }
      }
    }
  }

  .rails-engineering table { 
    background: #FFD0D0;

    td {
      color: #EB8383;
    }

    tr.active {
      td {
        color: #FFD0D0;
        background: #A02121;

        .apply-button {
          color: #A02121;
        }
      }
    }
  }

  .frontend-engineering table { 
    background: #F8F3B6;

    td {
      color: #CCAE38;
    }

    tr.active {
      td {
        color: #FFF9D0;
        background: #CEAE2C;

        .apply-button {
          color: #CEAE2C;
        }
      }
    }
  }

  .academy-left {
    margin: 0px 9% 0px 0px;
  }

  .academy-right {
    margin: 0;
  }

  .academy-left, .academy-right {
    width: 45%;
    display: inline-block;
    vertical-align: top;

    @media all and (max-width: 780px) {
      @include inline-block;
      float: none;
      margin: 0;
      padding: 0;
      width: 100% !important;
    }
  }

  .academy-video {
    @include border-radius;
    // border: 7px solid white;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    // padding-top: 30px;
    height: 0;
    overflow: hidden;
  }

  .academy-video iframe,  
  .academy-video object,  
  .academy-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .class-table {
    tr.active {
      td {
        color: #fff;
        background: #C4843C;

        .apply-button {
          color: #C4843C;
        }
      }

      &:hover td {
        color: #fff;
      }

      &.active:hover td {
        background: #A16D32;

        .apply-button {
          color: #A16D32;
        }
      }
    }

    td { color: #fff; }
  }
}

// class colors
.mobile-engineering {
  .primary-color  { color: #2C94CE; }
  .primary-bg     { background: #2C94CE; }
  .dark-bg        { background: #3175B4; }
  .darker-text    { color: #A59785; }
  .button-bg      { 
    background: #E6F1FC;

    &:hover {
      color: #fff;
      background: #2C94CE;
    }
  }

  .class-table tr.active {
    td {
      color: #B2DFF5;
      background: #2C94CE;

      .apply-button {
        color: #2C94CE;
      }
    }

    &:hover td {
      color: #fff;
    }

    &.active:hover td {
      background: #3279A1;

      .apply-button {
        color: #3279A1;
      }
    }
  }
}

// class colors
.rails-engineering {
  .primary-color  { color: #A02121; }
  .primary-bg     { background: #A02121; }
  .dark-bg        { background: #B43131; }
  .darker-text    { color: #A59785; }
  .button-bg      { 
    background: #E6F1FC;

    &:hover {
      color: #fff;
      background: #A02121;
    }
  }

  .class-table tr.active {
    td {
      color: #FFD0D0;
      background: #A02121;

      .apply-button {
        color: #A02121;
      }
    }

    &:hover td {
      color: #fff;
    }

    &.active:hover td {
      background: #8A2323;

      .apply-button {
        color: #8A2323;
      }
    }
  }
}

// class colors
.frontend-engineering {
  .primary-color  { color: #CEAE2C; }
  .primary-bg     { background: #CEAE2C; }
  .dark-bg        { background: #CAB337; }
  .darker-text    { color: #A59785; }
  .button-bg      { 
    background: #E6F1FC;

    &:hover {
      color: #fff;
      background: #CEAE2C;
    }
  }

  .class-table tr.active {
    td {
      color: #FFF9D0;
      background: #CEAE2C;

      .apply-button {
        color: #CEAE2C;
      }
    }

    &:hover td {
      color: #fff;
    }

    &.active:hover td {
      background: #D1A313;

      .apply-button {
        color: #D1A313;
      }
    }
  }
}

.fed-2 {

  h1 {
    line-height: 67px;

    .back {
      margin-left: -42px;
    }

    @media all and (max-width: 599px) {
      font-size: 45px;
      line-height: 48px;
      margin: 0;
      margin-bottom: 23px;
    }
  }

  .container {
    position: relative;
    @include box-sizing(border-box);
    padding-right: 30px;
    padding-left: 30px;
  }

  .light-button {
    display: inline-block;
    border-radius: 4px;
    font-weight: bolder;
    font-style: italic;
    padding: 8px 20px 12px;
    font-size: 24px;
    text-decoration: none;
    background: #ADB8C4;
    color: #fff;

    &:hover {
      background: #39474e;
    }
  }  

  .light-button-front-end {
    &:hover {
      background: #CEAE2C;
    }  
  }

  .light-button-rails {
    &:hover {
      background: #A02121;
    }
  }


  .light-button-mobile {
    &:hover {
      background: #2C94CE;
    } 
  }

  .apply-button {
    display: inline-block;
    border-radius: 4px;
    font-weight: bolder;
    font-style: italic;
    padding: 8px 20px 12px;
    font-size: 24px;
    text-decoration: none;
    background: #fff;
  }


  .main > & {
    padding: 0 4%;
  }

  .class-intro {
    margin-top: 40px;
    margin-bottom: 20px;
    @include clearfix;

    img {
      float: right;
      margin-top: 10px;
      margin-left: 30px;
      margin-bottom: 30px;
      border-radius: 3px;

      @media all and (max-width: 840px) {
        width: 300px;
      }
    }

    @media all and (max-width: 640px) {
      text-align: left;

      img { 
        display: none;
      }
    }
  }

  .academy-intro {
    margin-top: 40px;

    h2 {
      font-size: 36px;
      line-height: 38px;
    }
  }

  .academy-schedule {
    padding-bottom: 30px;
    border-bottom: 2px solid #F3E6D8;

    h2 {
      font-size: 36px;
    }

    h3 {
      font-size: 26px;
      margin-bottom: 10px;
    }

    table {
      margin-bottom: 48px;
        
      tr {
        td {
          padding: 0 !important;

          a {
            font-weight: bolder;
            font-style: italic;
            padding: 0px 20px 3px;
            font-size: 24px;
            text-decoration: none;
            margin-top: 3px;
            line-height: 38px;
          }
        }

        &.active, &:hover {
          td {
            padding-bottom: 3px !important;
          }
        }
      }
    }
  }

  .academy-well {
    padding: 30px 0 50px;
    background: #F2F4F5;
    h2 {
     text-align: center;

      @media only screen and (max-width: 479px) {
        text-align: left;
      }
    }
  }

  .academy-general {
    padding: 30px 0 50px;
     h2 {
      text-align: center;

      @media only screen and (max-width: 479px) {
        text-align: left;
      }
    }
  }

  .class-preview {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    @include clearfix;

    * {
      vertical-align: top;
    }

    .img-container {
      width: 16%;
      margin-right: 2%;
      display: inline-block;

      img {
        max-width: 180px;
      }
    }

    .text-container {
      display: inline-block;
      width: 60%;
      margin-right: 2%;
      font-size: 18px;

      h3 {
        margin: 0;

        @media all and (max-width: 780px) {
          text-align: center;
        }
      }

      p {
        margin-top: 0px;
      }

      a.more-info {
        text-decoration: none;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .button-container {
      display: inline-block;
      width: 20%;
      text-align: center;
      
      @media all and (min-width: 780px) {
        margin-top: 48px;

        a.light-button {
          margin-top: 10px;
          padding-left: 0;
          padding-right: 0;
          width: 100%;
        }
      }
    }

    @media all and (max-width: 780px) {
      text-align: center;
      
      div {
        width: 100% !important;
      }

      a.light-button {
        float: none;
      }

      .img-container {
        display: none;
      }

      .text-container {

        p { 
          text-align: left;
          position: static;
        }
      }
      .button-container {
        margin-bottom: 20px;
      }
    }

    @media only screen and (max-width: 479px) {
      text-align: left;

      h3, p, a{
        text-align: left !important;
      }

      h3 {
        line-height: 35px;
        margin-bottom: 15px;
      }

      .button-container {
        text-align: left;
      }
    }

  }

  .map-locations {
    display: none;

    @media all and (min-width: 600px) {
      display: block;
      width: 35%;
      position: absolute;
      top: -360px;
      z-index: 100;
      right: 0;

      ul {
        margin: 0;

        li {
          width: 170px;
          display: inline-block;
          font-size: 20px;
          font-weight: bolder;
          margin-right: 20px;
          margin-bottom: 20px;

          a {
            color: #3AC29C;
            
            &:hover {
              text-decoration: none;
              border-bottom: 3px solid rgba(#fff, 0.5);
            }
          }
        }
      }
    }

    @media all and (min-width: 950px) {
      width: 40%;
      top: -280px;
    }

  }

  .city-preview {
    position: relative;
    margin-top: 30px;
    margin-bottom: 40px;
    padding-bottom: 25px;
    border-bottom: 3px solid #F1F1F1;
    @include clearfix;

    * {
      vertical-align: top;
    }

    .location-icons {
      margin-left: 0;
      margin-top: 20px;

      li {
        display: inline-block;
        list-style-type: none;
        margin-right: 30px;
        width: 230px;

        img {
          width: 24px;
          height: 24px;
        }

        span {
          margin-left: 4px;
          font-weight: bolder;
        }

        &.inactive {
          color: #B8D0CA;
        }
      }

    }

    .text-container {
      display: inline-block;
      width: 78%;
      margin-right: 2%;
      font-size: 18px;

      h3 {
        color: #3AC29C;
        margin: 0;
      }

      p {
        margin-top: 0px;
      }

      a.more-info {
        text-decoration: none;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .button-container {
      display: inline-block;
      width: 20%;
      text-align: center;
      
      @media all and (min-width: 600px) {
        margin-top: 48px;

        a.light-button {
          margin-top: 10px;
          padding-left: 0;
          padding-right: 0;
          width: 100%;
        }
      }
    }

    @media all and (max-width: 780px) {

      a.light-button {
        float: none;
      }



      .text-container {
        width: 64%;
        p { 
          text-align: left;
          position: static;
        }
      }
      .button-container {
        width: 32%;
        margin-bottom: 20px;
      }
    }

    @media only screen and (max-width: 600px) {
      text-align: left;


      div {
        width: 100% !important;
      }

      h3, p, a{
        text-align: left !important;
      }

      h3 {
        line-height: 35px;
        margin-bottom: 15px;
      }

      .button-container {
        text-align: left;
      }
    }

  }

  .scholarships {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    @include clearfix;


    img {
      float: left;
      margin-right: 20px;
      margin-bottom: 30px;
    }

    p {
      position: absolute;
      left: 136px;
      right: 170px;
      margin-top: 4px;
      font-size: 18px;
    }

    h3 {
      margin: 0;

      @media all and (max-width: 780px) {
        text-align: center;
      }
    }

    a {
      margin-top: 10px;
      float: right;
    }

    @media all and (max-width: 780px) {
      text-align: center;
      img, a {
        float: none;
      }

      p { 
        text-align: left;
        position: static;
      }
    }

    @media only screen and (max-width: 479px) {
      text-align: left;

      img {
        display: none;
      }

      h3, p, a{
        text-align: left;
      }
    }

  }

  h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
    font-style: italic;

    @media only screen and (max-width: 479px) {
      text-align: left;
    }
  }

  .well {
    background: #eeeeee;
  }

  .icons {
    padding: 20px 0;
    text-align: center;

    .icon {
      width: 200px;
      display: inline-block;
      padding: 6px 40px;
    }

    @media all and (max-width: 540px) {
      padding: 20px;

      .icon {
        width: 100%;
        padding: 15px 0;

        // img {
        //   float: left;
        // }

        // p {
        //   text-align: left;
        // }
      }
    }
  }

  .schedule {
    padding: 30px 0 50px;
    background: #F2F4F5;

    h2 {
      text-align: center;
      font-size: 24px;

      @media all and (max-width: 479px) {
        text-align: left;
      }
    }

    p {
      font-size: 18px;
    }
  }

  .class-table {
    border-spacing: 0;
    width: 100%;
    color: #C9D0D4;

    tr:hover td {
      background: #D0D7D9;
      color: #39474e;

      .apply-button {
        color: #39474e;
      }
    }

    tr {
      &.active td, &:hover td {
        border-bottom: none;
        padding-bottom: 27px;

        &:first-child {
          @include border-radius(4px 0 0 4px);
        }

        &:last-child {
          @include border-radius(0 4px 4px 0);
        }

        .apply-button {
          background: #fff;
        }
      }

      &.active:hover td {
        color: #fff;
      }

      @media all and (max-width: 649px) {
        &.active td, &:hover td {
          padding-bottom: 13px;
        }
      }

    }

    td {
      padding: 24px;
      border-bottom: 3px solid #fff;
      font-size: 24px;
      font-style: italic;
      font-weight: bolder;
      text-align: center;

      .apply-button {
        color: #C9D0D4;
      }

      @media all and (max-width: 649px) {
        padding: 10px;
        border-bottom: 3px solid #fff;
        font-size: 14px;
        font-style: italic;
        font-weight: bolder;

        &.teacher {
          display: none;
        }

        .apply-button {
          color: #C9D0D4;
          font-size: 14px;
          text-align: center;
        }
      }
    }
  }

  .phone-callout {
    p {
      @include box-sizing(border-box);
      clear: both;
      color: #39474e;
      font-size: 15px;
      margin-top: 0px;
      border: 3px solid #E3E7E9;
      padding: 8px 25px;
      margin: 0px 0px 33px 0px;
      text-align: center;
      width: 100%;
      background: #E3E7E9;

      @media only screen and (max-width: 479px) {
        width: 100%;
      }
    }
  }  


  .classtime {
    img {
      display: block;
      margin: 0 auto 20px;
    }

    padding: 30px 0 50px;

    p {
      font-size: 18px;
      margin: 0 0 50px;

      @media all and (max-width: 719px) {
        font-size: 18px;
      }

      strong {
        color: #876132;
        font-weight: bold;
      }
    }

    img {
      @media all and (max-width: 575px) {
        display: none;
      }
    }

    .lecture-time, .lab-time {
      @include box-sizing(border-box);
      float: left;
      margin: 35px 0 0;
      padding: 0 35px;
      width: 49.5%;

      h3 {
        color: #39474e;
        font-size: 24px;
        line-height: 15px;
        margin-top: 0;
        font-style: italic;
      }

      p {
        margin-bottom: 0;
        color: #7D8A8E;
      }

      @media all and (max-width: 650px) {
        float: none;
        margin-bottom: 15px;
        padding: 1em;
        width: auto;

        p {
          font-size: 18px;
        }
      }
    }

    .lab-time {
      @media all and (min-width: 651px) {
        border-left: 3px solid #E3E7E9;
        padding-bottom: 50px;
      }
    }

    p.callout {
      @include box-sizing(border-box);
      clear: both;
      color: #7D8A8E;
      font-size: 15px;
      margin-top: 0px;
      border: 3px solid #E3E7E9;
      padding: 18px 25px;
      margin: 0 auto;
      text-align: center;
      width: 80%;

      @media only screen and (max-width: 479px) {
        width: 100%;
      }

      strong {
        color: #39474e;
      }
    }
  }

  .curriculum {
    padding: 50px 0 50px;
    background: #F2F4F5;

    .curriculum-overview {

      h2 {
        text-align: center;
        font-size: 24px;

        @media only screen and (max-width: 479px) {
          text-align: left;
        }
      }

      p {
        color: #7D8A8E;
        font-size: 18px;
      }

      p.callout {
        @include box-sizing(border-box);
        clear: both;
        color: #7D8A8E;
        font-size: 15px;
        margin-top: 0px;
        border: 3px solid #E3E7E9;
        padding: 18px 25px;
        margin: 0 auto;
        text-align: center;
        width: 80%;

        @media only screen and (max-width: 479px) {
          width: 100%;
        }

        strong {
          color: #39474e;
        }

        @media all and (max-width: 649px) {
          margin-top: 30px;
        }
      }

      .columns {
        @include legacy-pie-clearfix;
        padding: 20px 0 0;

        & > div {
          @include box-sizing(border-box);
          float: left;
          margin: 0;
          padding: 0 35px;
          width: 49.5%;

          h4 {
            color: #7D8A8E;
            font-size: 18px;
            margin-bottom: 0;
            line-height: 24px;
          }

          p {
            margin-top: 0;
            color: #7D8A8E;
            font-size: 16px;
            line-height: 20px;
            font-style: italic;
          }

          &.right-column {
            @media all and (min-width: 651px) {
              border-left: 3px solid #E3E7E9;
              padding-bottom: 70px;
            }
          }
        }

        @media all and (max-width: 649px) {
          margin: 0 auto;
          max-width: auto;

          & > div {
            @include inline-block;
            float: none;
            margin: 0;
            padding: 0;
            width: 100% !important;
          }
        }
      }
    }
  }

  .is-this-for-you {  
    @include clearfix;

    .columns {
      .left {
        @include box-sizing(border-box);
        float: left;
        margin: 35px 0 0;
        width: 59.5%;
        padding-right: 60px;

        h2 {
          font-size: 22px;
        }

        p {
          color: #7D8A8E;
          font-size: 18px;
        }

        @media all and (min-width: 651px) {
          border-right: 3px solid #E3E7E9;
          padding-bottom: 50px;
        }
      }

      .right {
        @include box-sizing(border-box);
        float: right;
        margin: 35px 0 0;
        width: 39.5%;
        padding-left: 30px;


        h2 {
          font-size: 20px;
          line-height: 24px;
        }

        h3 {
          color: #7D8A8E;
          font-size: 18px;
          margin-bottom: 0;
          line-height: 24px;
        }

        p {
          margin-top: 0;
          color: #7D8A8E;
          font-size: 16px;
          line-height: 20px;
          font-style: italic;
        }
      }

      @media all and (max-width: 649px) {
        margin-bottom: 50px;

        .left, .right {
          float: none;
          width: 100%;
          padding: 0;
        }
      }
    }
  }

  .testimonials {
    padding: 50px 0 50px;
    background: #F2F4F5;

    .testimonial {
      margin-top: 40px;
      @include clearfix;

      @media only screen and (max-width: 479px) {
        margin-top: 0px;
      }


      p {
        font-size: 22px;
        line-height: 28px;
        margin-top: 5px;
        font-style: italic;
      }

      .credit {
        font-size: 18px;
      }

      .quote {
        @media only screen and (max-width: 479px) {
          font-size: 18px;
          line-height: 23px;

        }
      }

      img {
        float: left;
        margin-right: 30px;
        margin-bottom: 80px;

        @media only screen and (max-width: 479px) {
          margin-bottom: 20px;

        }

        @media all and (max-width: 840px) {
          width: 300px;
        }
      }

      @media all and (max-width: 649px) {

        img { 
          margin-right: 0;
          float: none;
        }
      }
    }

    .meet-our-grads {
      clear: both;
      color: #7D8A8E;
      font-size: 16px;
      margin-top: 0px;
      border: 3px solid #E3E7E9;
      padding: 18px 25px;
      margin: 0 auto;
      text-align: center;
      width: 80%;

      

      strong {
        color: #39474e;
      }
    }
  }

  .our-sponsors {
    padding: 30px 0 50px;
    text-align: center;

    h2 {
      color: #fff;
      text-align: center;
      font-size: 24px;

      @media only screen and (max-width: 479px) {
        text-align: left;
      }
    }

    p {
      color: #fff;
      font-size: 18px;
      width: 80%;
      margin-right: auto;
      margin-left: auto;

      @media all and (max-width: 640px) {
        text-align: left;
        font-size: 16px;
      }

      @media only screen and (max-width: 479px) {
        width: 100%;
      }
    }

    .sponsor-logo-large {
      @include inline-block;
      margin-bottom: 1%;
      width: 48.5%;
      border-radius: 3px;

      &:first-child {
        margin-right: 1%;
      }
    }

    .sponsor-logo-small {
      @include inline-block;
      margin-right: 1%;
      width: 32%;
      border-radius: 3px;

      &:last-child {
        margin-right: 1%;
      }
    }
  }
}


.fed-2.image-slider {
  padding: 0;

  ul.sequence-canvas {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  .slider {
    margin-top: 0;

    @media all and (max-width: 479px) {
      height: 250px !important;
    }

    .slide {
      margin-top: -25px;
      // opacity: 1;
      height: 100%;
      width: 100%;

      .bg {
        background-position: 50% 50%;
        height: 100%;
      }

      .description {
        bottom: 20px;
        left: 1em;
        font-size: 1.25em;
        color: white;
        margin-top: 0;
        z-index: 9000;
        position: absolute;

        @media all and (max-width: 640px) {
          font-size: 15px;
        }
      }
    }
  }
}
