.article {  
  .location-index {

    text-align: left;

    h2 {
      text-align: left;
      margin-bottom: 0;

      @media only screen and (max-width: 600px) {
        font-size: 36px;
      }
    }

    .header-image {
      width: 100%;
    }

    .span8 {
      margin-top: 0px;

      @media only screen and (max-width: 979px) and (min-width: 600px) {
        max-width: 100% !important;
      }
    }

    .locations-button {
      padding: 12px 18px 13px 18px;
      font-size: 22px;
      line-height: 30px;
      color: #fff;
      background-color: #20a3d9;
      text-decoration: none;
      display: block;
      margin-top: 0px;
      border-radius: 2px;
      text-align: center;
      font-weight: 100;
  
      img {
        display: inline-block;
        margin-right: 10px;
      }

      p {
        display: inline-block;
        margin: 0px;
      }
    }

    .locations-button:hover {
      background: #1b93c4;
      text-decoration: none;
    }

    .span4 {
      margin-top: 0px;
      margin-left: 24px;

      ul {
        margin-top: 20px;
      }

      @media only screen and (max-width: 979px) and (min-width: 600px) {

        .locations-button {
          display: inline-block;
        }
      }

      @media only screen and (max-width: 600px) {
        margin-top: 0;
      }
    }
  }
}

//CITY PAGES//

.city-page-class-icon {
  width: 25px;
  margin-right: 10px;
}

p.city-page-content {
  margin-left: 20px;
}
.highlights {
      padding-top: 50px;
      padding-bottom: 50px;
}

// Icons

[class^="classIcon-"], [class*=" classIcon-"] {
  display: inline-block;
  width: 75px;
  height: 77px;
  line-height: 77px;
  vertical-align: text-top;
  background-image: url("/images/courseIconSprite.png");
  background-position: 0 0;
  background-repeat: no-repeat; 
}

.classIcon-jsCourse {
  background-position: 0 0;
}
.classIcon-railsCourse {
  background-position: -75px 0;
}
.classIcon-iosCourse {
  background-position: -150px 0;
}

@media (min-width: 600px) {

    .article .span8 {
      width: 625px;
      padding-right:20px;
      box-sizing:border-box;
      
    }

    .location-well {
      padding: 30px 0 50px;
      background: #f2f4f5;
    }
    .article {
      padding-bottom:0;
    }
    .article .span8 {
      margin-bottom:0;
    }
    .article h4 {
        margin:5px;
    }

    .location .intro.reverse-triangle .short-slide {
      height: 440px;
    }

    .location .intro.reverse-triangle .container {
      padding-top: 300px;
    }

    .location-border {
      border-right: 2px solid #eef1f6;
    }

    .location a {
      color: #41d3ac;
    }
    .location ul {
      margin:0;
    }
    .location ul li {
      display:block;
      text-decoration:none;
    }
    .recent li {
      display:block;
      padding-bottom:10px;
      border-bottom: 3px solid #f0f4f5;
    }
    .recent li:last-child {
      border-bottom:none;
    }
    .location a.light-button {
      color: #fff;
    }
    .article .article-sidebar-content-section {
      margin-bottom:0;
      padding-bottom:0;
    }
    .courses {
      margin-top: 40px;
      text-align: center;
      font-size: 1.5em;
      margin-bottom: -40px;
    }
    .courses img {
      clear:both;
    }


  }