.article {  
  .location-index {

    text-align: left;

    h2 {
      text-align: left;
      margin-bottom: 0;

      @media only screen and (max-width: 600px) {
        font-size: 36px;
      }
    }

    .header-image {
      width: 100%;
    }

    .span8 {
      margin-top: 0px;

      @media only screen and (max-width: 979px) and (min-width: 600px) {
        max-width: 100% !important;
      }
    }

    .locations-button {
      padding: 12px 18px 13px 18px;
      font-size: 22px;
      line-height: 30px;
      color: #fff;
      background-color: #20a3d9;
      text-decoration: none;
      display: block;
      margin-top: 0px;
      border-radius: 2px;
      text-align: center;
      font-weight: 100;
  
      img {
        display: inline-block;
        margin-right: 10px;
      }

      p {
        display: inline-block;
        margin: 0px;
      }
    }

    .locations-button:hover {
      background: #1b93c4;
      text-decoration: none;
    }

    .span4 {
      margin-top: 0px;
      margin-left: 24px;

      ul {
        margin-top: 20px;
      }

      @media only screen and (max-width: 979px) and (min-width: 600px) {

        .locations-button {
          display: inline-block;
        }
      }

      @media only screen and (max-width: 600px) {
        margin-top: 0;
      }
    }
  }
}

//CITY PAGES//

.city-page-class-icon {
  width: 25px;
  margin-right: 10px;
}

p.city-page-content {
  margin-left: 20px;
}
.highlights {
      padding-top: 50px;
      padding-bottom: 50px;
}

// Icons

[class^="classIcon-"], [class*=" classIcon-"] {
  display: inline-block;
  width: 75px;
  height: 77px;
  line-height: 77px;
  vertical-align: text-top;
  background-image: url("/images/courseIconSprite.png");
  background-position: 0 0;
  background-repeat: no-repeat; 
}

.classIcon-jsCourse {
  background-position: 0 0;
}
.classIcon-railsCourse {
  background-position: -75px 0;
}
.classIcon-iosCourse {
  background-position: -150px 0;
}