.article .location-index {
    text-align: left
}
.article .location-index h2 {
    text-align: left;
    margin-bottom: 0;
}
@media only screen and (max-width: 600px) { 
    .article .location-index h2 {
        font-size: 36px
    }
}
.article .location-index .header-image {
    width: 100%
}
.article .location-index .span8 {
    margin-top: 0px
}
@media only screen and (max-width: 979px) and (min-width: 600px) { 
    .article .location-index .span8 {
        max-width: 100% !important
    }
}
.article .location-index .locations-button {
    padding: 12px 18px 13px 18px;
    font-size: 22px;
    line-height: 30px;
    color: #fff;
    background-color: #20a3d9;
    text-decoration: none;
    display: block;
    margin-top: 0px;
    border-radius: 2px;
    text-align: center;
    font-weight: 100;
}
.article .location-index .locations-button img {
    display: inline-block;
    margin-right: 10px;
}
.article .location-index .locations-button p {
    display: inline-block;
    margin: 0px;
}
.article .location-index .locations-button:hover {
    background: #1b93c4;
    text-decoration: none;
}
.article .location-index .span4 {
    margin-top: 0px;
    margin-left: 24px;
}
.article .location-index .span4 ul {
    margin-top: 20px
}
@media only screen and (max-width: 979px) and (min-width: 600px) { 
    .article .location-index .span4 .locations-button {
        display: inline-block
    }
}
@media only screen and (max-width: 600px) { 
    .article .location-index .span4 {
        margin-top: 0
    }
}
.city-page-class-icon {
    width: 25px;
    margin-right: 10px;
}
p.city-page-content {
    margin-left: 20px
}