---
layout: home
title: "Houston, TX"
color: "#3AC29C"
date: 2013-11-23 12:57
comments: true
sharing: true
footer: true
parent_url: "/locations"
meta_description: "Houston is becoming home to many exciting enterprise and software startups. We can not wait to add our code school to an already amazing mix of tech."
---

.main style="width:100%;"
  .intro
    .slider
      ul
        li.animate-out
          .slide 
            .bg style="background-image: url(/images/locations/houston/houston-night.jpg);"

            / .container
            /   .slide-margin.span11
            /     span.prev Recreation
            /     span.next Events and Festivals
            /     .description
            /       span.no-link
            /         | Welcome to the Upstate.

  .intro style="background-color:{{page.color}};"
    | {% if page.image %}
    .short-slide style="background-image: url({{page.image}});"
    | {% endif %}

    .container
      .row
        .intro-content
          .triangle style="border-top: 20px solid {{page.color}};"
          h1
            | {% if page.parent_url %}
            a.ss-left.back href="{{page.parent_url}}"
            | {% endif %}

            | {{page.title}}

          | {% if page.description %}
          .description 
            | {{page.description}}
          | {% endif %}

          .secondary
            | {% if page.sub_nav %}
            ul.sub-nav 
              |{% for link in page.sub_nav %}
              li
                a href="{{link.slug}}" {{ link.name }}  
              | {% endfor %}
            | {% endif %}
  
  .container
    .content
      .article.row
        .span8
          .article-content
            p 
               | Houston is home to many amazing enterprise, startup and healthcare software companies. We're excited to meet the demand for high quality developers that will help businesses across the ecosystem build amazing digital products. 

            h2 What we offer in Houston
            hr
            p.programs-image
              img alt="The Iron Yard Academy" src="/images/locations/tampa/tampa-program-academy.jpg"
            .right-of-img
              h4 Intensive code school
              p We are actively building our intensive Academy classes in Houston. Sign up for the mailing lists for news and announcements.
              p.city-page-content
                img.city-page-class-icon src="/images/icons/city-page-class-front-end.png" <a href="/academy/front-end-engineering">Front End Engineering</a> — Learn to build web apps with HTML, CSS and JavaScript.
              p.city-page-content
                img.city-page-class-icon src="/images/icons/city-page-class-rails.png" <a href="/academy/rails-engineering">Rails Engineering</a> — Learn to build full-stack apps with Ruby on Rails. 
              p.city-page-content
                img.city-page-class-icon src="/images/icons/city-page-class-mobile.png" <a href="http://eepurl.com/QaOwX">Mobile Engineering mailing list</a> — Learn to build iOS apps using Xcode and Objective-C.
            hr
            p.programs-image
              img alt="CoderDojo and kids classes" src="/images/locations/tampa/tampa-program-kids.jpg"
            .right-of-img
              h3 Kids classes
              p We'll launch our free code classes for kids later this year. Sign up for the newsletter to be notified when things are ready. 
              ul
                li
                  a href="http://eepurl.com/QaOQn" Sign up for the mailing list
            /   p.city-page-content
            /     img.city-page-class-icon src="/images/icons/city-page-class-front-end.png" <a href="/academy/front-end-engineering">Front End Engineering</a> — Learn to build web apps with HTML, CSS & JavaScript.
            /   p.city-page-content
            /     img.city-page-class-icon src="/images/icons/city-page-class-rails.png" <a href="/academy/rails-engineering">Rails Engineering</a> — Learn to build full-stack apps with Ruby on Rails. 
            /   p.city-page-content
            /     img.city-page-class-icon src="/images/icons/city-page-class-mobile.png" <a href="/academy/mobile-engineering">Mobile Engineering</a> — Learn to build iOS apps using Xcode and Objective-C.
            / hr
            / p.programs-image
            /   img alt="The Iron Yard Academy" src="/images/locations/atlanta/atlanta-program-kids.jpg"
            / .right-of-img
            /   h4 Free kids classes
            /   p We will launch kids classes in Atlanta in Spring 2014. Sign up for our mailing list to learn more. 
            /   ul
            /     li
            /       a href="http://eepurl.com/MeMgz" Atlanta Academy Kids Mailing List


        .article-sidebar-city.span4
          .article-sidebar-content-section
            h3 Connect
            hr
            ul
              li
                a href="/jobs" <strong>We're hiring in Houston!</strong>
              li
                a href="http://blog.theironyard.com" The Blog
              li
                a href="mailto:houston@theironyard.com" houston@theironyard.com
            hr 
            p
              img alt="Houston, TX" src="/images/locations/houston/houston-sidebar1.jpg" style="border-radius: 3px;"
            hr
            p
              img alt="Houston, TX" src="/images/locations/houston/houston-sidebar2.jpg" style="border-radius: 3px;"
            hr
            p
              img alt="Houston, TX" src="/images/locations/houston/houston-sidebar3.jpg" style="border-radius: 3px;"
  
            / h3 Other locations
            / hr
            / ul
            /   li
            /     a href="/locations/greenville" Greenville, SC
            /   li
            /     a href="/locations/charleston" Charleston, SC
            /   li
            /     a href="/locations/durham" Durham, NC
            /   li
            /     a href="/locations/spartanburg" Spartanburg, SC
            /   li
            /     a href="/locations/tampa" Tampa, FL
              



javascript:
  $('document').ready(function(){
    sequence = $(".slider").sequence({
      autoPlay: true,
      autoPlayDelay: 3000,
      moveActiveFrameToTop: true,
      navigationSkipThreshold: 1000,
      fadeFrameWhenSkipped: false,
      prevButton: $('.prev'),
      nextButton: $('.next'),
      animateStartingFrameIn: true
    }).data("sequence")
  });



