---
layout: page_full_width
title: "The Laboratory"
date: 2013-08-08 16:33
color: "#CE822C"
description: "Code crash courses for everyone."
parent_url: "/education"
comments: true
sharing: true
footer: true
---

.container.standard-container
  .content
    .article.row
      .span8
        .article-content
          h3 style="margin-top:0px;" Build a website
          p
            | Students in our beginner website class will learn HTML and CSS, publishing their very own website by the end of the course. Our goal is to help you enjoy the process of understanding how to build the internet, not just consume it. 

      .article-sidebar.span4
        .headersignup
          a href="/education/labs/build-a-website" class="button" LEARN MORE
          ul
            li <strong>Next Greenville class:</strong> Nov. 5th 
            li <strong>Length:</strong> 6 weeks
            li <strong>Cost:</strong> $110

.container.fancy-container
  .content
    .article.row
      .span8
        .article-content
          h3 style="margin-top:0px;" Make your website mobile friendly
          p
            | In this class you'll learn about the mobile web, what "responsive web design" is, and how to make your own website look great on small screens.

      .article-sidebar.span4
        .headersignup
          a href="/education/labs/make-your-website-mobile-friendly" class="button" LEARN MORE
          ul
            li <strong>Next Greenville class:</strong> Jan. 7th  
            li <strong>Length:</strong> 6 weeks
            li <strong>Cost:</strong> $110

.container.standard-container
  .content
    .article.row
      .span8
        .article-content
          h3 style="margin-top:0px;" Intro to JavaScript
          p
            | In this class you'll learn the basics of computer programming and apply JQuery and JavaScript to your website to make it interactive.

      .article-sidebar.span4
        .headersignup
          a href="/education/labs/intro-to-javascript" class="button" LEARN MORE
          ul
            li <strong>Next Greenville class:</strong> Mar. 3rd  
            li <strong>Length:</strong> 8 weeks
            li <strong>Cost:</strong> $110

.container.fancy-container
  .content
    .article.row
      .span8
        .article-content
          h3 style="margin-top:0px;" Intro to Ruby on Rails
          p
            | In this class you'll learn the basics of developing applications with Ruby and Rails, from implementation to testing and launching your project.

      .article-sidebar.span4
        .headersignup
          a href="/education/labs/intro-to-ruby-on-rails" class="button" LEARN MORE
          ul
            li <strong>Next Greenville class:</strong> May 5th  
            li <strong>Length:</strong> 12 weeks
            li <strong>Cost:</strong> $110