---
layout: home
title: "Asheville, NC"
date: 2014-01-13 17:30
color: "#3AC29C"
parent_url: "/locations"
footer: true
---

.main style="width:100%;"
  .intro
    .slider
      ul
        li.animate-out
          .slide 
            .bg style="background-image: url(/images/locations/asheville/asheville-slider.jpg);" 

            / .container
            /   .slide-margin.span11
            /     span.prev Recreation
            /     span.next Events and Festivals
            /     .description
            /       span.no-link
            /         | Welcome to the Upstate.

  .intro style="background-color:{{page.color}};"
    | {% if page.image %}
    .short-slide style="background-image: url({{page.image}});" 
    | {% endif %}

    .container
      .row
        .intro-content
          .triangle style="border-top: 20px solid {{page.color}};" 
          h1
            | {% if page.parent_url %}
            a.ss-left.back href="{{page.parent_url}}"
            | {% endif %}

            | {{page.title}}

          | {% if page.description %}
          .description 
            | {{page.description}}
          | {% endif %}

          .secondary
            | {% if page.sub_nav %}
            ul.sub-nav 
              |{% for link in page.sub_nav %}
              li
                a href="{{link.slug}}" {{ link.name }}  
              | {% endfor %}
            | {% endif %}

  .container
    .content
      .article.row
        .span8
          .article-content
            p 
               | We are launching a Green Tech accelerator in Asheville this fall. TIn partnership with the A-B Tech Education and Entrepreneurial Development Foundation and other community leaders, we are excited about working with companies who are using technology to make our world a better place to live and work. 
            h2 What's coming in Asheville
            hr
            p.programs-image
              img alt="Greentech Accelerator" src="/images/locations/asheville/asheville-programs-accelerator.jpg"
            .right-of-img
              h3 Green Tech Accelerator
              p From energy to the environment and efficiency in healthcare, we are going to accelerate companies focused on Green Tech. 
              ul
                li
                  a href="/accelerator/green-tech" Learn more
            p.programs-image
              img alt="CoWorking at The Iron Yard" src="/images/locations/asheville/asheville-programs-cowork.jpg"
            .right-of-img
              h3 CoWorking Spaces
              p We will offer CoWorking space housing be a mix of designers, developers and startups. 
            hr
            p.programs-image
              img alt="Kids classes" src="/images/locations/asheville/asheville-programs-kids.jpg"
            .right-of-img
              h3 Kids classes
              p We will launch kids code classes along with our accelerator program. Sign up for the newsletter to learn more. 
              ul
                li 
                  a href="http://eepurl.com/MmxWX" Sign up for the newsletter

            /   p.city-page-content
            /     img.city-page-class-icon src="/images/icons/city-page-class-front-end.png" <a href="/academy/front-end-engineering">Front End Engineering</a> — Learn to build web apps with HTML, CSS & JavaScript.
            /   p.city-page-content
            /     img.city-page-class-icon src="/images/icons/city-page-class-rails.png" <a href="/academy/rails-engineering">Rails Engineering</a> — Learn to build full-stack apps with Ruby on Rails. 
            /   p.city-page-content
            /     img.city-page-class-icon src="/images/icons/city-page-class-mobile.png" <a href="/academy/mobile-engineering">Mobile Engineering</a> — Learn to build iOS apps using Xcode and Objective-C.
            / hr
            / p.programs-image
            /   img alt="The Iron Yard Academy" src="/images/locations/atlanta/atlanta-program-kids.jpg"
            / .right-of-img
            /   h4 Free kids classes
            /   p We will launch kids classes in Atlanta in Spring 2014. Sign up for our mailing list to learn more. 
            /   ul
            /     li
            /       a href="http://eepurl.com/MeMgz" Atlanta Academy Kids Mailing List


        .article-sidebar-city.span4
          .article-sidebar-content-section
            h3 Connect
            hr
            ul
              li
                a href="/jobs" <strong>We're hiring in Asheville!</strong>
              li
                a href="http://blog.theironyard.com" The Blog
              li
                a href="https://twitter.com/search?q=%23tiyasheville&src=typd" #tiyasheville
              li
                a href="mailto:asheville@theironyard.com" asheville@theironyard.com
              li
                a href="http://eepurl.com/MmxWX" Asheville newsletter
            hr 
            p
              img alt="Spartanburg, SC" src="/images/locations/asheville/asheville-sidebar.jpg" style="border-radius: 3px;"
  
            / h3 Other locations
            / hr
            / ul
            /   li
            /     a href="/locations/greenville" Greenville, SC
            /   li
            /     a href="/locations/charleston" Charleston, SC
            /   li
            /     a href="/locations/durham" Durham, NC
            /   li
            /     a href="/locations/spartanburg" Spartanburg, SC
            /   li
            /     a href="/locations/tampa" Tampa, FL

javascript:
  $('document').ready(function(){
    sequence = $(".slider").sequence({
      autoPlay: true,
      autoPlayDelay: 3000,
      moveActiveFrameToTop: true,
      navigationSkipThreshold: 1000,
      fadeFrameWhenSkipped: false,
      prevButton: $('.prev'),
      nextButton: $('.next'),
      animateStartingFrameIn: true
    }).data("sequence")
  });
